---
apiVersion: v1
kind: Namespace
metadata:
  name: {{heketi_namespace}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{heketi_services_name}}
  namespace: {{heketi_namespace}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{heketi_services_name}}-secret
  namespace: {{heketi_namespace}}
stringData:
  user: {{heketi_user_secret}}
  key: {{heketi_admin_secret}}
type: kubernetes.io/glusterfs
---
kind: Service
apiVersion: v1
metadata:
  name: {{heketi_services_name}}
  labels:
    run: {{heketi_services_name}}
  namespace: {{heketi_namespace}}
spec:
  type: NodePort
  selector:
    run: {{heketi_services_name}}
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{heketi_services_name}}
  labels:
    run: {{heketi_services_name}}
  namespace: {{heketi_namespace}}
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  selector:
    matchLabels:
      run: {{heketi_services_name}}
  template:
    metadata:
      labels:
        run: {{heketi_services_name}}
    spec:
      terminationGracePeriodSeconds: 0
      nodeSelector:
        storagenode: {{heketi_services_name}}
      serviceAccountName: {{heketi_services_name}}
      tolerations:
        - operator: Exists
      containers:
        - image: heketi/heketi:{{glusterfs_heketi_version.split('.')[0]}}
          name: {{heketi_services_name}}
          env:
            - name: HEKETI_USER_KEY
              valueFrom:
                secretKeyRef:
                  name: {{heketi_services_name}}-secret
                  key: user
            - name: HEKETI_ADMIN_KEY
              valueFrom:
                secretKeyRef:
                  name: {{heketi_services_name}}-secret
                  key: key
            - name: HEKETI_EXECUTOR
              value: ssh
            - name: HEKETI_SSH_USER
              value: root
            - name: HEKETI_SSH_PORT
              value: '22'
            - name: HEKETI_SSH_KEYFILE
              value: "/var/lib/heketi/.ssh/id_rsa"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: data
              mountPath: "/var/lib/heketi"
          readinessProbe:
            timeoutSeconds: 3
            initialDelaySeconds: 3
            httpGet:
              path: "/hello"
              port: 8080
          livenessProbe:
            timeoutSeconds: 3
            initialDelaySeconds: 30
            httpGet:
              path: "/hello"
              port: 8080
      volumes:
        - name: data
          glusterfs:
            endpoints: {{glusterfs_services_name}}
            path: {{glusterfs_heketi_gfs_volume}}
